
/* nav-bar padding */
body { padding-top: 70px; }

/* fix styling for empty href */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* margins for lists */
.top5 { margin-top: 5px; }
.top10 { margin-top: 10px; }
.top15 { margin-top: 15px; }
.top20 { margin-top: 20px; }
.top30 { margin-top: 30px; }

.vcenter {
    vertical-align: middle;
    /* display: table-cell !important; */
    display: inline-block !important;
    float: none;
}

.eventman-message {
    position: fixed;
    top: 2%;
    width: 40%;
    left: 30%;
    text-align: center;
    display: inline-block;
    z-index: 10000;
}

/* .row { display: table; } */
