/* nav-bar padding */
body { padding-top: 70px; }

/* logo padding */
.navbar-brand {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

a:hover {
    color: #23527c;
}

/* fix styling for empty href */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Footer links */
.main-footer {
    background-color: lightgray;
    text-align: center;
    padding: 4px;
    font-size: x-small;
}

/* margins for lists */
.top5 { margin-top: 5px; }
.top10 { margin-top: 10px; }
.top15 { margin-top: 15px; }
.top20 { margin-top: 20px; }
.top30 { margin-top: 30px; }

/* minimum widths for various input groups */
.min50 { min-width: 50px; }
.min70 { min-width: 70px; }
.min70-compact { min-width: 70px; padding: 1px; }
.min100 { min-width: 100px; }
.min120 { min-width: 120px; }
.min150 { min-width: 150px; }
.min200 { min-width: 200px; }
.min250 { min-width: 250px; }

/* horizontally center */
.hcenter {
    text-align: center;
}

/* vertically center */
.vcenter {
    vertical-align: middle;
    display: inline-block !important;
    float: none;
}

/* pop-up message */
.eventman-message {
    position: fixed;
    top: 2%;
    width: 40%;
    left: 30%;
    text-align: center;
    display: inline-block;
    z-index: 10000;
}

/* things to be invisible */
.outside-screen {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

/* a small table with a fixed height */
.small-table {
    height: 200px !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

/* do not wrap elements inside this one */
.nowrap {
    white-space: nowrap;
}
