<!-- edit details of an Event -->
<div class="container">
    <h1><span ng-if="!event.title">{{'New event' | translate}}</span>{{event.title}}&nbsp;
        <button ng-if="event._id" ng-click="$state.go('event.info', {id: event._id})" class="btn btn-success">
            <span class="glyphicon glyphicon-info-sign"></span>
            {{'Info' | translate}}
        </button>
    </h1>

    <form name="eventForm" ng-model="eventdetails" ng-submit="save()">
        <div ng-class="{clearfix: true, alert: true, 'alert-success': !eventForm.$dirty, 'alert-danger': eventForm.$dirty}">
            <button type="button" class="btn btn-default pull-right" ng-click="save($event)" ng-disabled="!eventForm.$dirty">{{'save' | translate}}</button>
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-addon min100">{{'Title' | translate}}</span>
            <input type="text" class="form-control" placeholder="{{'Title' | translate}}" ng-model="event.title" ng-required="1">
        </div>

        <div class="input-group top5 well form-horizontal" ng-controller="DatetimePickerCtrl">
            <div class="form-group">
                <label for="begin-date" class="col-sm-3 control-label">{{'begin date:' | translate}}</label>
                <div id="begin-date" class="input-group col-sm-9">
                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="event['begin-date']" is-open="opened" ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="begin-time" class="col-sm-3 control-label">{{'begin time:' | translate}}</label>
                <timepicker id="begin-time" class="input-group" ng-model="event['begin-time']" show-meridian="false"></timepicker>
            </div>
        </div>

        <div class="input-group top5 well form-horizontal" ng-controller="DatetimePickerCtrl">
            <div class="form-group">
                <label for="end-date" class="col-sm-3 control-label">{{'End date:' | translate}}</label>
                <div id="end-date" class="input-group col-sm-9">
                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="event['end-date']" is-open="opened" ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="end-time" class="col-sm-3 control-label">{{'End time:' | translate}}</label>
                <timepicker id="end-time" class="input-group" ng-model="event['end-time']" show-meridian="false"></timepicker>
            </div>
        </div>

        <input type="submit" class="outside-screen" />
    </form>
</div>
