<!-- edit details of an Event -->
<div class="container">
    <div class="panel panel-primary table-striped top5">
        <div class="panel-heading">
            <h1>
                {{event.title}}
                <span ng-if="hasPermission('event|create') && !event._id">{{'New event' | translate}}</span>
                &nbsp;<button ng-if="event._id && hasPermission('event:tickets-all|read')" ng-click="$state.go('event.tickets', {id: event._id})" class="btn btn-success">
                    <span class="fa fa-ticket vcenter"></span>
                    {{'Tickets' | translate}}
                </button>
                &nbsp;<button ng-if="event._id && hasPermission('event:tickets-all|create')" ng-click="$state.go('event.ticket.new', {id: event._id})" ng-class="{btn: true, 'btn-success': true, disabled: event.no_tickets_for_sale}">
                    <span class="fa fa-user-plus vcenter"></span>
                    {{'Join this event' | translate}}
                </button>
            </h1>
        </div>
        <div class="panel-body">
            <form name="eventForm" ng-model="eventdetails" ng-submit="save()">
                <fieldset ng-disabled="eventFormDisabled">
                    <div ng-if="!eventFormDisabled" ng-class="{clearfix: true, alert: true, 'alert-success': !eventForm.$dirty, 'alert-danger': eventForm.$dirty}">
                        <button type="button" class="btn btn-default pull-right" ng-click="save($event)" ng-disabled="!eventForm.$dirty">
                            <span class="fa fa-floppy-o vcenter"></span>
                            {{'save' | translate}}
                        </button>
                    </div>

                    <div class="input-group input-group">
                        <span class="input-group-addon min100">{{'Title' | translate}}</span>
                        <input type="text" class="form-control" placeholder="{{'Title' | translate}}" ng-model="event.title" ng-required="true">
                    </div>
                    <div class="input-group input-group top5">
                        <span class="input-group-addon min100">{{'Tagline' | translate}}</span>
                        <input type="text" class="form-control" placeholder="{{'Tagline' | translate}}" ng-model="event.tagline">
                    </div>
                    <div class="input-group input-group top5">
                        <span class="input-group-addon min100">{{'Short summary' | translate}}</span>
                        <input type="text" class="form-control" placeholder="{{'Short summary' | translate}}" ng-model="event.summary">
                    </div>
                    <div class="input-group top5">
                        <span class="input-group-addon min100">{{'Long description' | translate}}</span>
                        <textarea class="form-control" placeholder="{{'Long description' | translate}}" ng-model="event.description" rows="5"></textarea>
                    </div>

                    <div class="input-group top5 well form-horizontal" ng-controller="DatetimePickerCtrl">
                        <div class="form-group">
                            <label for="begin-date" class="col-sm-3 control-label">{{'begin date:' | translate}}</label>
                            <div id="begin-date" class="input-group col-sm-6">
                                <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="event.begin_date" is-open="opened" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="begin-time" class="col-sm-3 control-label">{{'begin time:' | translate}}</label>
                            <div uib-timepicker id="begin-time" class="input-group" ng-model="event.begin_time" show-meridian="false"></div>
                        </div>
                    </div>

                    <div class="input-group top5 well form-horizontal" ng-controller="DatetimePickerCtrl">
                        <div class="form-group">
                            <label for="end-date" class="col-sm-3 control-label">{{'end date:' | translate}}</label>
                            <div id="end-date" class="input-group col-sm-6">
                                <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="event.end_date" is-open="opened" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="end-time" class="col-sm-3 control-label">{{'end time:' | translate}}</label>
                            <div uib-timepicker id="end-time" class="input-group" ng-model="event.end_time" show-meridian="false"></div>
                        </div>
                    </div>

                    <div class="input-group input-group top5">
                        <span class="input-group-addon min100">{{'Where' | translate}}</span>
                        <input type="text" class="form-control" placeholder="{{'Where' | translate}}" ng-model="event.where">
                    </div>
                    <div ng-if="!eventFormDisabled" class="input-group input-group top5">
                        <span class="input-group-addon min100">{{'Group ID' | translate}}</span>
                        <input type="text" class="form-control" placeholder="{{'Used to share persons amongst multiple events. Must be hard to guess (if empty, will be autogenerated)' | translate}}" ng-model="event.group_id">
                    </div>

                    <div class="panel panel-default table-striped top30">
                        <div class="panel-heading">
                            <h3>{{'Ticket limits' | translate}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group input-group top5">
                                <span class="input-group-addon min100">{{'Number of tickets' | translate}}</span>
                                <input type="number" min="0" class="form-control" placeholder="{{'Number of tickets (0 or empty means unlimited)' | translate}}" ng-model="event.number_of_tickets">
                            </div>

                            <div class="input-group top5 well form-horizontal" ng-controller="DatetimePickerCtrl">
                                <div class="form-group">
                                    <label for="sales-begin-date" class="col-sm-6 control-label">{{'ticket sales begin date:' | translate}}</label>
                                    <div id="sales-begin-date" class="input-group col-sm-6">
                                        <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="event.ticket_sales_begin_date" is-open="opened" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sales-begin-time" class="col-sm-6 control-label">{{'ticket sales begin time:' | translate}}</label>
                                    <div uib-timepicker id="sales-begin-time" class="input-group" ng-model="event.ticket_sales_begin_time" show-meridian="false"></div>
                                </div>
                            </div>

                            <div class="input-group top5 well form-horizontal" ng-controller="DatetimePickerCtrl">
                                <div class="form-group">
                                    <label for="sales-end-date" class="col-sm-6 control-label">{{'ticket sales end date:' | translate}}</label>
                                    <div id="sales-end-date" class="input-group col-sm-6">
                                        <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="event.ticket_sales_end_date" is-open="opened" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sales-end-time" class="col-sm-6 control-label">{{'ticket sales end time:' | translate}}</label>
                                    <div uib-timepicker id="sales-end-time" class="input-group" ng-model="event.ticket_sales_end_time" show-meridian="false"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="outside-screen" />
                    <div ng-if="!eventFormDisabled" ng-class="{clearfix: true, alert: true, 'alert-success': !eventForm.$dirty, 'alert-danger': eventForm.$dirty}">
                        <button type="button" class="btn btn-default pull-right" ng-click="save($event)" ng-disabled="!eventForm.$dirty">
                            <span class="fa fa-floppy-o vcenter"></span>
                            {{'save' | translate}}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="panel panel-primary top10" ng-if="!eventFormDisabled">
        <div class="panel-heading">
            <h1>{{'Registration form' | translate}}</h1>
        </div>
        <div class="panel-body">
            <eda-step-way-easy-form-gen eda-easy-form-generator-model="event.formSchema" eda-save-form-event="saveForm(edaEasyFormGeneratorModel)"></eda-step-way-easy-form-gen>
        </div>
    </div>
</div>
