<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Import from eventbrite CSV'}}</h3>
        </div>
        <div class="panel-body">
            <form name="ebCSVForm" class="well" ng-controller="FileUploadCtrl">
                <div class="form-group">
                    <label for="eb-csv-import">{{'CSV file' | translate}}</label>
                    <input name="file" ng-file-select ng-model="file" type="file" id="eb-csv-import" ng-required="true">
                    <p class="help-block">{{'CSV exported from eventbrite' | translate}}</p>
                </div>
                
                <div class="form-group">
                    <label for="forEvent">{{'Associate users to this event' | translate}}</label>
                    <select class="form-control" id="forEvent" ng-model="targetEvent">
                        <option ng-repeat="event in events" value="{{event._id}}">{{event.title}}</option>
                    </select>
                </div>

                <input type="submit" value="{{'Import' | translate}}" ng-click="upload(file, '/ebcsvpersons')" />

                <div class="form-group top5">
                    Result: total: <span>{{reply.total}}</span> valid: <span>{{reply.valid}}</span> merged: <span>{{reply.merged}}</span> new: <span>{{reply.valid - reply.merged}}</span>
                </div>
            </form>
        </div>
    </div>
</div>
