<!-- import tickets -->
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title"><h1>{{'Import tickets from Eventbrite CSV' | translate}}</h1></div>
        </div>
        <div class="panel-body">
            <form name="ebCSVForm" class="well">
                <div class="form-group">
                    <label for="eb-csv-import">{{'CSV file' | translate}}</label>
                    <input name="file" ng-file-select ng-model="file" type="file" id="eb-csv-import" ng-required="true">
                    <p class="help-block">{{'CSV exported from Eventbrite' | translate}}</p>
                </div>
                
                <div class="form-group">
                    <label for="forEvent">{{'Associate tickets to this event' | translate}}</label>
                    <select class="form-control" id="forEvent" ng-model="targetEvent" ng-required="true">
                        <option ng-repeat="event in events" value="{{event._id}}">{{event.title}}</option>
                    </select>
                </div>

                <input type="checkbox" ng-model="deduplicate"> {{'deduplicate entries' | translate}}

                <div>
                    <br />
                    <input type="submit" value="{{'Import' | translate}}" ng-click="upload(file, '/ebcsvpersons')" />
                </div>

                <div class="form-group top5">
                    <uib-progressbar class="progress-striped" ng-class="{active: progressbarType == 'warning'}" max="100" value="progress" type="progressbarType">{{progress}}%</uib-progressbar>
                </div>
                <div class="form-group top5">
                    Result: total: <span>{{reply.total}}</span> valid: <span>{{reply.valid}}</span> new: <span>{{reply.new_in_event}}</span>
                </div>
            </form>
        </div>
    </div>
</div>
