<!doctype html>
<html ng-app="eventManApp">
    <head>
        <title>Event Man(ager)</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-route.min.js"></script>
        <script src="/static/js/angular-animate.min.js"></script>
        <script src="/static/js/angular-touch.min.js"></script>
        <script src="/static/js/angular-resource.min.js"></script>
        <script src="/static/js/angular-file-upload.min.js"></script> 
        <script src="/static/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
        <script src="/static/js/angular-ui-router.min.js"></script>
        <script src="/static/js/angular-websocket.js"></script>
        <script src="/static/js/angular-translate.min.js"></script>
        <script src="/static/js/angular-translate-loader-static-files.min.js"></script>
        <script src="/static/js/eventman.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/i18n.js"></script>
        <script src="/js/filters.js"></script>
        <script src="/js/directives.js"></script>
        <script src="/js/services.js"></script>
        <script src="/js/controllers.js"></script>
        <link href="/static/css/normalize.css" rel="stylesheet">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/static/css/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/eventman.css" rel="stylesheet">
    </head>
    
    <!--
        Copyright 2015-2016 Davide Alberani <da@erlug.linux.it>
                            RaspiBO <info@raspibo.org>

        Licensed under the Apache License, Version 2.0 (the "License");
        you may not use this file except in compliance with the License.
        You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

        Unless required by applicable law or agreed to in writing, software
        distributed under the License is distributed on an "AS IS" BASIS,
        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        See the License for the specific language governing permissions and
        limitations under the License.
    -->

    <body>
        <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationCtrl">
            <div class="container">
                <div class="navbar-header">
                    <div ng-if="logo.imgURL" class="navbar-brand"><a ng-if="logo.link" href="{{logo.link}}" target="_blank"><img src="{{logo.imgURL}}" /></a></div>
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: isActive('/events') || isActive('/event')}"><a ui-sref="events">{{'Events' | translate}}</a></li>
                        <li ng-if="hasPermission('persons|read')" ng-class="{active: isActive('/persons') ||  isActive('/person') || isActive('/import/persons')}"><a ui-sref="persons">{{'Persons' | translate}}</a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="info.user.username">
                            <span class="btn">{{info.user.username}}</span>
                            <span class="btn btn-link">
                                <a ng-controller="LoginCtrl" ng-click="logout()"><span class="fa fa-sign-out vcenter"></span>&nbsp;{{'logout' | translate}}</a>
                            </span>
                        </li>
                        <li ng-if="!info.user.username">
                            <span class="btn btn-link">
                                <a ui-sref="login"><span class="fa fa-sign-in vcenter"></span>&nbsp;{{'login' | translate}}</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="main-header">
        </div>

        <!-- main error handling -->
        <div ng-if="error.error" ng-class="{clearfix: true, alert: true, 'alert-danger': true}">
            <div class="container">
                {{error.message}}
            </div>
        </div>
        <!-- all the magic takes place here: the content inside the next div changes accordingly to the location you're visiting -->
        <div ui-view></div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="main-footer">
                <a href="https://github.com/raspibo/eventman/" target="_blank">Event Man(ager)</a> by RaspiBO: <a href="http://raspibo.org">wiki</a> | <a href="http://social.raspibo.org">social network</a> | <a href="http://liste.raspibo.org/wws/">mailing lists</a> | <a href="mailto:info@raspibo.org">contact</a>
            </div>
        </nav>
    </body>
</html>
