<!-- Login and user registration page. -->
<div class="container">
    <div class="row">
        <div class="col-md-7 col-xs-7">
            <div class="panel panel-primary table-striped">
                <div class="panel-heading"><h1>{{'Login' | translate}}</h1></div>
                <div class="panel-body">
                    <form method="POST">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon min150">{{'Username or email' | translate}}</span>
                            <input type="text" id="username" name="username" ng-model="loginData.username" class="form-control">
                        </div>
                        <div class="input-group input-group-lg top10">
                            <span class="input-group-addon min150">{{'Password' | translate}}</span>
                            <input type="password" id="password" name="password" ng-model="loginData.password" class="form-control">
                        </div>
                        <button type="submit" ng-click="login()" class="btn btn-success top10">{{'login' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-xs-1 hcenter" style="top:100px;">
                <div class="vcenter">or</div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="panel panel-success table-striped">
                <div class="panel-heading"><h1>{{'Register a new user' | translate}}</h1></div>
                <div class="panel-body">
                    <form method="POST">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon min150">{{'Username' | translate}}</span>
                            <input type="text" id="new-username" name="new-username" ng-model="newUser.username" class="form-control" ng-required="1">
                        </div>
                        <div class="input-group input-group-lg top10">
                            <span class="input-group-addon min150">{{'Email' | translate}}</span>
                            <input type="email" id="new-email" name="new-email" ng-model="newUser.email" class="form-control">
                        </div>
                        <div class="input-group input-group-lg top10">
                            <span class="input-group-addon min150">{{'Password' | translate}}</span>
                            <input type="password" id="new-password" name="new-password" ng-model="newUser.password" class="form-control" ng-required="1">
                        </div>
                        <button type="submit" ng-click="register()" class="btn btn-success top10">{{'register' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
