<div class="container">
    <div class="panel panel-primary table-striped top5">
        <div class="panel-heading">{{'Login' | translate}}</div>
        <div class="panel-body">
            <div id="wronglogin" class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{'Error!' | translate}}</strong> {{'Wrong username and password.' | translate}}
            </div>
            <form method="POST">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon min150">{{'Username' | translate}}</span>
                    <input type="text" id="username" name="username" ng-model="loginData.username" class="form-control" placeholder="admin">
                </div>
                <div class="input-group input-group-lg top10">
                    <span class="input-group-addon min150">{{'Password' | translate}}</span>
                    <input type="password" id="password" name="password" ng-model="loginData.password" class="form-control" placeholder="eventman">
                </div>
                <button type="submit" ng-click="login()" class="btn btn-success top10">{{'login' | translate}}</button>
            </form>
        </div>
    </div>
</div>
