<!-- show details of a single Person (editing also take place here) -->
<div class="container">
    <form ng-model="persondetails" ng-submit="save()">
        <div class="input-group input-group-lg">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" placeholder="Name" ng-model="person.name" ng-required="1">
        </div>

        <div class="input-group input-group-lg top5">
            <span class="input-group-addon">Surname</span>
            <input type="text" class="form-control" placeholder="Surname" ng-model="person.surname">
        </div>

        <div class="input-group top5">
            <span class="input-group-addon">Email</span>
            <input type="email" name="email" class="form-control" placeholder="root@example.com"  ng-model="person.email">
        </div>

        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
    </form>
</div>
