  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="id">ID</option>
        </select>

      </div>
      <div class="col-md-10">

        <ul class="persons">
          <li ng-repeat="person in persons | filter:query | orderBy:orderProp">
            <span>{{person.name}}</span>&nbsp;<span>{{person.surname}}</span>
            <p>{{person.snippet}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>

