<!-- show details of a single Person (editing also take place here) -->
<div class="container">
    <h1>{{person.name}} {{person.surname}}
        <button ng-if="person._id" ng-click="$state.go('person.edit', {id: person._id})" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span>
            {{'Edit' | translate}}
        </button>
    </h1>
    <div class="panel panel-primary table-striped top5">
        <div class="panel-heading">Events</div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="query-persons">Search:</label>
                    <input type="text" id="query-persons" class="form-control" placeholder="{{'Name or email' | translate}}" ng-model="query">
                </div>
                <div class="form-group">
                    <label for="events-order">Sort by:</label>
                    <select id="events-order" class="form-control" ng-model="orderProp">
                        <option value="name" ng-selected="selected">Alphabetical</option>
                        <option value="date">Date</option>
                    </select>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Attended</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in events">
                        <td><strong><a ui-sref="event.info({id: event._id})">{{event.title}}</a></strong></td>
                        <td>
                            <button class="btn btn-link" name="switch-attended" ng-click="updateAttendee(event, !event.person_data.attended)"><span class="glyphicon {{(event.person_data.attended) && 'glyphicon-ok-sign text-success' || 'glyphicon-remove-sign text-danger'}}"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

